# Python cache files
__pycache__/
*.pyc

# Virtual environment
.venv/

# Model files - if large, exclude them, else remove this line
*.pt
*.h5

# Dataset folder - include or exclude depending on size
# To exclude your dataset folder from Git, uncomment the following line:
# construction_ppe_dataset/

# IDE files
.vscode/
.DS_Store
